<div class="hotel-create">
  <h2>Create Hotel</h2>
  <form [formGroup]="hotelForm">
    <div class="displayFlex">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="For example: Mirage Hotel">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" placeholder="For example: Cartagena">
      </mat-form-field>
    </div>
    <div *ngIf="hotelForm.get('rooms')" formArrayName="rooms">
      <button mat-raised-button type="button" color="accent" (click)="addRoom()">Add Room</button>
      <div *ngFor="let room of getRoomControls(); let i = index">
        <div [formGroupName]="i">
          <mat-card>
            <mat-card-content>
              <mat-form-field>
                <mat-label>Room ID</mat-label>
                <input matInput formControlName="id" placeholder="For example: 303">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Room Type</mat-label>
                <input matInput formControlName="type" placeholder="For example: double">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Room Price</mat-label>
                <input matInput formControlName="price" type="number">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Room Tax</mat-label>
                <input matInput formControlName="tax" type="number">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Room Location</mat-label>
                <input matInput formControlName="location" placeholder="For example: Montevideo">
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <button mat-raised-button color="primary" [disabled]="!hotelForm.valid" (click)="createHotel()">Create</button>
  </form>
</div>
