/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.displayFlex {
  display: flex;
  gap: 1rem;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
}

.mt-1 {
  margin-top: 1rem;
}

.clickable {
  cursor: pointer;
}
